* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


/* ***** header ****** */
header {
    height: 70px;
    width: 100%;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 600;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}

.header-left {
    float: left;
    line-height: 70px;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.header-left nav {
    display: inline-block;
}

.header-left img {
    vertical-align: middle;
}

.header-right {
    float: right;
    line-height: 70px;
}

.header-right nav {
    display: inline-block;
}

.button {
    padding: 8px 15px;
    background-color: #0061ff;
    color: white;
}

/* ****** Jumbotron ****** */
#jumbotron {
    background-color: lightskyblue;
    height: 420px;
    width: 100%;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 70px;
}

#jumbotron h1 {
    font-size: 50px;
}

.container-jumbo {
    float: left;
    width: 40%;
}

.container-jumbo p {
    margin: 20px 0;
    line-height: 1.3;
    font-size: 14px;
}

.container-jumbo a {
    text-decoration: none;
    
}

.container-jumbo i {
    font-size: 30px;
    font-weight: bold;
}

.jumboimg {   
    margin-top: 20px;
    width: 60%;
    float: left;
}

.jumboimg img {  
    width: 100%;
    max-width: 854px;
    max-height: 480px;
}


/* ****** main ****** */
main {
    margin-top: 200px;
}






/* ***** debug ***** */
.debug main {
    background-color: blue;
    height: 200px;
}