* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


/* ***** header ****** */
header {
    height: 70px;
    width: 100%;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 600;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.header-left {
    float: left;
    line-height: 68px;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav ul li:hover {
    border-bottom: 2px solid black;
}

header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.header-right nav ul li.container-button a {
    display: inline;
}

header nav ul li.logo,
.header-right nav ul li.container-button {
    border-bottom: none;
}

.header-left nav {
    display: inline-block;
}

.header-left img {
    vertical-align: text-bottom;
}

.header-right {
    float: right;
    line-height: 68px;
}

.header-right nav {
    display: inline-block;
}

.button {
    padding: 8px 15px;
    background-color: #0061ff;
    color: white;
}

/* ****** Jumbotron ****** */
#jumbotron {
    background-color: lightskyblue;
    height: 420px;
    width: 100%;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 70px;
}

#jumbotron h1 {
    font-size: 50px;
}

.container-jumbo {
    float: left;
    width: 40%;
}

.container-jumbo p {
    margin: 20px 0;
    line-height: 1.3;
    font-size: 14px;
}

.container-jumbo a {
    text-decoration: none;

}

.container-jumbo i {
    font-size: 30px;
    font-weight: bold;
}

.jumboimg {
    margin-top: 20px;
    width: 60%;
    float: left;
}

.jumboimg img {
    width: 100%;
    max-width: 854px;
    max-height: 480px;
}


/* ****** main ****** */
main {
    margin-top: 200px;
}

.container {
    margin: 0 auto;
    width: 75%;
}


/* ******** Section 1 ********* */

.section1 h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

.radio-button {
    width: 15px;
    height: 15px;
    border: 2px solid lightgray;
    border-radius: 50%;
    display: inline-block;
}

.radio-button.checked {
    border: 4px solid blue;
}


.container-radio-button {
    margin-right: 20px;
    display: inline-block;
}

.container-piani {
    width: 100%;
    margin-top: 30px;
}

.box {
    width: calc(100% / 3 - 20px);
    float: left;
    height: 1000px;
    border: 2px solid lightgray;
}

.central {
    margin: 0 30px;
}

.box-top {
    border-bottom:  2px solid lightgray;
    text-align: center;
    padding: 5px ;
}

.box-main {
    padding: 30px;
}

.box-main-top {
    height: 120px;
}

.box-main .button {
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.scadenza{
    color: gray;
    margin-bottom: 20px;
}

.box-main h3 {
    margin-bottom: 20px;
}

.box-main a, .box-main p {
    margin: 20px 0;
}

.separatore {
    width: 20%;
    margin: 30px 0;
    border-bottom: 2px solid lightgray;
}

.elenco-funzioni h4 {
    margin-bottom: 20px;
}

.elenco-funzioni ul li {
    list-style: none;
    margin: 20px 0;
}

.elenco-funzioni ul li i {
    color: #0061ff;
}

.box-team {
    border: 2px solid lightgray;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 80px;
}

.box-team .box-main {
    position: relative;
}

.box-team .box-main a {
    position: absolute;
    right: 30px;
    top: 10px;
}

/* ****** Section 2 ***** */
.img-section2 {
    width: 50%;
    float: left;
}

.img-section2 img {
    width: 100%;
}

.text-section2 {
    float: left;
    width: 50%;
    padding-left: 50px;
    padding-top: 30px;
}

.text-section2 p {
    margin: 35px 0;
    line-height: 1.6;
}

.text-section2 .container-button a {
    color: black;
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
}

.section2 {
    margin-bottom: 50px;
}

/* ****** Section 3 ****** */
.box-section3 {
    float: left;
    width: calc(100% / 3 - 30px);
    margin: 30px 0;
}

.central-section3 {
    margin-left: 45px;
    margin-right: 45px;
}

.box-section3 img {
    width: 100%;
}

.box-section3 h3 {
    margin: 20px 0;
}

/* ***** Section 4 ***** */









/* ***** debug ***** */
.debug main {
    /* background-color: blue; */
    /* height: 500px; */
}
